<header>
    <h1>{{title}}</h1>
    <a href = "/"> Home </a>
    <a href = "/about">About</a>
    <a href = "/registration">Register</a>
    <a href = "/Assignment3">Assignment3</a>
    <a href = "/help">Help</a>
</header>