body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  /* max-width: px; */
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

p {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}

.main {
  vertical-align: top;
  font-size: 20px;
  font-weight: 700;
}

.profile {
  border-radius: 50%;
  border-style: inset;
  border-width: 3px;
  border-color: dodgerblue;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

hr {
  border-top: 2px solid #eeeeee;
}

header a {
  color: #999;
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 65px;
}

footer {
  color: #555555;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
  font-size: 20px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: white;
  padding: 8px;
}

.logo-content {
  display: flex;
  margin: 0 auto;
}

.logo {
  width: 90px;
  padding-left: 20px;
}
